<?xml version='1.0' encoding='utf-8'?>
<widget id="com.myclock.app" version="1.0.0"
  xmlns="http://www.w3.org/ns/widgets"
  xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Clock</name>
    <description>A beautiful customizable clock</description>
    <author>Clock</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <icon src="www/icon-512.png" />
    <platform name="android">
        <icon density="ldpi" src="res/icon/android/ldpi-foreground.png" foreground="res/icon/android/ldpi-foreground.png" monochrome="res/icon/android/ldpi-foreground.png" background="res/icon/android/ldpi-background.png" />
        <icon density="mdpi" src="res/icon/android/mdpi-foreground.png" foreground="res/icon/android/mdpi-foreground.png" monochrome="res/icon/android/mdpi-foreground.png" background="res/icon/android/mdpi-background.png" />
        <icon density="hdpi" src="res/icon/android/hdpi-foreground.png" foreground="res/icon/android/hdpi-foreground.png" monochrome="res/icon/android/hdpi-foreground.png" background="res/icon/android/hdpi-background.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi-foreground.png" foreground="res/icon/android/xhdpi-foreground.png" monochrome="res/icon/android/xhdpi-foreground.png" background="res/icon/android/xhdpi-background.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi-foreground.png" foreground="res/icon/android/xxhdpi-foreground.png" monochrome="res/icon/android/xxhdpi-foreground.png" background="res/icon/android/xxhdpi-background.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi-foreground.png" foreground="res/icon/android/xxxhdpi-foreground.png" monochrome="res/icon/android/xxxhdpi-foreground.png" background="res/icon/android/xxxhdpi-background.png" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/splash/android12-splash-icon.png" />
        <preference name="SplashScreenBackgroundColor" value="#000000" />
        <preference name="AndroidWindowSplashScreenIconBackgroundColor" value="#000000" />
    </platform>

    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="35" />
    <preference name="Fullscreen" value="true" />
    <preference name="Orientation" value="default" />
    <preference name="SplashScreenDelay" value="1500" />
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="FadeSplashScreen" value="true" />
    <preference name="FadeSplashScreenDuration" value="500" />
    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="ShowSplashScreenSpinner" value="false" />
</widget>
